.cover{
  background: url(cover.jpg) center center no-repeat;
  background-size: cover;
  height: 300px;
}
.profile-container{
  /* background-color: rgba(255, 50, 200, 0.8); */
}
.profile-container img{
  position:absolute;
  top: 225px;
  left: 15%;
  width: 200px;
  border: 8px solid #ececec;
  border-radius: 50%;
}
.profile-container nav{
  text-align: center;
}
