<div>
  <section id="hero">
    <h1>Jorge's awesome website</h1>
    <div class="profile">
      <div class="profile-image">
        <img src="media/profile.jpg" />
      </div>
    </div>
    <h2>My name is Jorge Rivera and this is my personal website, please make yourself at home and don't hesitate to ask if you need anything.</h2>

    <nav id="hero-menu" class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Welcome</a></li>
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">About me</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Interests</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Social</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">News</a></li>
      </ul>
    </nav>
  </section>
  <section>
    <article class="content">
      <h1>Welcome</h1>
      <p>Hi there, this is Jorge Rivera. I'm an experienced web developper, open source enthusiast and tech geek besides other thousand things, this website is where I share my work, interests, jobbies and my personal life to the world. Please make yourself at home and don't hesitate to ask if you need anything, and remember you are welcome to visit anytime you like.</p>
    </article>
    <article class="content">
      <h1>About me</h1>
      <p>
        My name is Jorge Rivera. I'm an experienced web developper, open source enthusiast and tech geek among other things, I was born in the beautiful costal city of Manzanillo located in the state of Colima, Mexico. I graduated as an electronics and communications engineer from the University of Colima and I have been working in web development ever since.
      </p>
      <p>
        If I had to describe myself with only one word, I would choose the word "curious" I usually spend many hours a week surfing the web just out of curiosity I have read half the wikipedia (well, I'm exagerating a bit) I read about multiple topics and enjoy a good documentary film just about any topic. If I not were a software developer, I would have been some kind of researcher.
      </p>
      <p>
        Other thins I enjoy beside coding are having a long and interesting chat, drinking a good beer, to cook something I have planted and harvesting myself and riding my bicycle into the woods.
      </p>
      <p>
        Some of the things I dont like are television and facebook.
      </p>
    </article>
    <article class="content">
      <h1>Lastest News</h1>
    </article>
  </section>
  <section>
    <div class="content">
      <h1>Other things I'm passionate about</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet rutrum tortor. Nulla bibendum ex a libero vehicula lobortis. Proin eget erat quis dui semper aliquet a at mauris. Etiam a scelerisque arcu. Curabitur at diam commodo, aliquet turpis in, rhoncus orci.
      </p>
    </div>
  </section>
  <section>
    <article class="content">
      <h1>Social Media</h1>
      <div class="pure-g cards">
        <div class="pure-u-1-5">
          <div class="card card-icon">
            <a href="#/blog" target="_blank" title="Blog">
              <i class="fa fa-rss"></i>
            </a>
          </div>
        </div>
        <div class="pure-u-1-5">
          <div class="card card-icon">
            <a href="https://twitter.com/bytx" target="_blank" title="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
        <div class="pure-u-1-5">
          <div class="card card-icon">
            <a href="https://www.linkedin.com/profile/view?id=AAIAAAYP134BLCEHQYrYKtIG09jp9XokqGava1g" target="_blank" title="LinkedIn">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
        <div class="pure-u-1-5">
          <div class="card card-icon">
            <a href="https://github.com/jorgeriv" target="_blank" title="Github">
              <i class="fa fa-github-alt"></i>
            </a>
          </div>
        </div>
        <div class="pure-u-1-5">
          <div class="card card-icon">
            <a href="https://github.com/jorgeriv" target="_blank" title="Stack Overflow">
              <i class="fa fa-stack-overflow"></i>
            </a>
          </div>
        </div>
      </div>
    </article>
  </section>

</div>
