<div>
  <section id="hero">
    <h1>Jorge's awesome website</h1>
    <div class="profile">
      <div class="profile-image">
        <img src="media/profile.jpg" />
      </div>
    </div>
    <h2>My name is Jorge Rivera and this is my personal website, please make yourself at home and don't hesitate to ask if you need anything.</h2>

    <nav id="hero-menu" class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Welcome</a></li>
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">About me</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Interests</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Social</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">News</a></li>
      </ul>
    </nav>
  </section>
  <section>
    <article class="content">
      <h1>Welcome</h1>
      <p>Hi there, this is Jorge Rivera. I'm an experienced web developper, open source enthusiast and tech geek besides other thousand things, this website is where I share my work, interests, jobbies and my personal life to the world. Please make yourself at home and don't hesitate to ask if you need anything, and remember you are welcome to visit anytime you like.</p>
    </article>
    <article class="content">
      <h1>About me</h1>
      <p>
        
      </p>
      </article>
      <article class="content">
        <h1>Lastest News</h1>
      </article>
    </section>
    <section>
      <div class="content">
        <h2>Other things I'm passionate about</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet rutrum tortor. Nulla bibendum ex a libero vehicula lobortis. Proin eget erat quis dui semper aliquet a at mauris. Etiam a scelerisque arcu. Curabitur at diam commodo, aliquet turpis in, rhoncus orci.
        </p>
      </div>
    </section>
    <section>
      <div class="content">
        <nav class="main-menu pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" target="_blank" title="feed"><i class="fa fa-rss"></i></a></li>
            <li class="pure-menu-item"><a href="https://twitter.com/bytx" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="pure-menu-item"><a href="https://www.linkedin.com/profile/view?id=AAIAAAYP134BLCEHQYrYKtIG09jp9XokqGava1g" target="_blank" title="linkedIn"><i class="fa fa-linkedin"></i></a></li>
            <li class="pure-menu-item"><a href="https://github.com/jorgeriv" target="_blank" title="github"><i class="fa fa-github-alt"></i></a></li>
            <li class="pure-menu-item"><a href="https://github.com/jorgeriv" target="_blank" title="Stack Overflow"><i class="fa fa-stack-overflow"></i></a></li>
          </ul>
        </nav>
      </div>
    </section>
    <section>
      <article class="content">
        <h1>Other content that is not being displayed - wtf?</h1>
      </article>
    </section>
  </div>
