  <section id="hero">
    <article class="content">
      <h1>Jorge's awesome website</h1>
      <h2>Hi there, my name is Jorge Rivera and this website is where I share my work, interests, jobbies and ideas to the world. Please make yourself at home and don't hesitate to ask if you need anything.</h2>
      <div class="profile">
        <div class="profile-image">
          <img src="media/profile.jpg" />
        </div>
      </div>
      <quote-block></quote-block>

    </article>
    <!--
    <nav id="hero-menu" class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">About me</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Social Media</a></li>
      </ul>
    </nav>
  -->
  </section>
  <section>
    <article class="content">
      <h1>About me</h1>
      <p>
        I'm an experienced web developper, open source enthusiast and tech geek among other things, I was born in the costal city of Manzanillo located in the beautiful state of Colima, Mexico. I graduated as a communications and electronics engineer from the University of Colima and I have been working in web development ever since.
      </p>
      <p>
        If I had to describe myself with only one word, I would choose the word "curious" I usually spend many hours a week surfing the web. I have read half the wikipedia just out of curiosity (well, I'm exagerating a bit). I read all kind of books and enjoy watching a good documentary film just about any topic.
      </p>
      <p>
        Other thins I enjoy beside coding and reading are having a long and interesting chat, drinking a good beer, to cook something I have planted and harvested myself and riding my bicycle into the woods.
      </p>
      <p>
        Some of the things I dont like are television and facebook. It is not that I don't enjoy the mindless amusement that television has to offer or that I don't get entertained by the endless stream of news, jokes and gossip on facebbok. I do get entertained by them as any other person. But I think of that kind of entertainment as a waste of time.
      </p>
    </article>
  </section>
  <section class="medium-gray">
    <article class="content">
      <h1>Lifestyle and Other interests</h1>
      <p>Just in case you were wondering what else I like to do besides coding, here is an small list of other activities I enjoy.</p>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
          <div class="card">
            <h1>Chess</h1>
            <p>I play chess since I was 9 years old, but I got really interested into chess when I was on college highschool.</p>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
          <div class="card">
            <h1>Cycling</h1>
            <p>When I ride my bicyce into the woods I feel free and happy. I also like to use my bycicle as my main way of transportations when posible.</p>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
          <div class="card">
            <h1>Photography</h1>
            <p></p>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
          <div class="card">
            <h1>Reading</h1>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
          <div class="card">
            <h1>Travel</h1>
          </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
          <div class="card">
            <h1>Cooking &amp; Eating</h1>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
  <section>
    <article class="content">
      <h1>Let's get in touch</h1>
      <div class="pure-g cards">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-5">
          <div class="card card-icon">
            <a href="#" target="_blank" title="Blog (under construction)">
              <i class="fa fa-rss"></i>
            </a>
          </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-5">
          <div class="card card-icon">
            <a href="https://twitter.com/bytx" target="_blank" title="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-5">
          <div class="card card-icon">
            <a href="https://www.linkedin.com/profile/view?id=AAIAAAYP134BLCEHQYrYKtIG09jp9XokqGava1g" target="_blank" title="LinkedIn">
              <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-5">
          <div class="card card-icon">
            <a href="https://github.com/jorgeriv" target="_blank" title="Github">
              <i class="fa fa-github-alt"></i>
            </a>
          </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-5">
          <div class="card card-icon">
            <a href="https://github.com/jorgeriv" target="_blank" title="Stack Overflow">
              <i class="fa fa-stack-overflow"></i>
            </a>
          </div>
        </div>
      </div>
    </article>
  </section>
