<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="/">
  <title>Jorge's awesome personal website</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="lib/pure/pure-min.css" media="screen" title="no title" charset="utf-8">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="lib/pure/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="lib/pure/grids-responsive-min.css">
  <!--<![endif]-->
  <link rel="stylesheet" href="lib/fontawesome/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="app/assets/layout.css">
  <link rel="stylesheet" href="app/assets/blog.css">
  <link rel="stylesheet" href="app/assets/header.css">
  <link rel="stylesheet" href="app/assets/hero.css">
  <link rel="stylesheet" href="app/assets/cover.css">
  <link rel="stylesheet" href="app/assets/ui-widgets/cards.css">
  <link rel="stylesheet" href="app/assets/ui-widgets/loader.css">
  <link rel="stylesheet" href="app/assets/ui-widgets/progress-bar.css">
  <link rel="stylesheet" href="app/assets/ui-widgets/tabs.css">
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular-route/angular-route.min.js"></script>
  <script src="lib/tinymce/tinymce.min.js"></script>
  <script src="lib/angular-resource/angular-resource.min.js"></script>
  <script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="lib/ng-tags-input/ng-tags-input.min.js"></script>
  <script src="app/common/lb-ng/lb-services.js"></script>
  <script src="app/components/main/main.js"></script>
  <script src="app/components/main/main.controller.js"></script>
  <script src="app/routes.js"></script>
  <!-- home component -->
  <script src="app/components/home/home.module.js"></script>
  <script src="app/components/home/home.controller.js"></script>
  <link rel="stylesheet" href="app/components/home/home.style.css">
  <!-- home-->
  <!-- resume component -->
  <script src="app/components/resume/resume.module.js"></script>
  <script src="app/components/resume/resume.controller.js"></script>
  <!-- resume-->
  <!-- blog component -->
  <script src="app/components/blog/blog.module.js"></script>
  <script src="app/components/blog/blog.controller.js"></script>
  <script src="app/components/blog/post-editor/post-editor.module.js"></script>
  <script src="app/components/blog/post-editor/post-editor.directive.js"></script>

  <!-- blog-->

  <!-- blog topBar -->
  <script src="app/components/top-bar/top-bar.module.js"></script>
  <script src="app/components/top-bar/top-bar.controller.js"></script>
  <script src="app/components/top-bar/top-bar.nav-active.directive.js"></script>
  <!-- blog-->

  <!-- progress-bar -->
  <script src="app/components/ui-widgets/progress-bar/main.js"></script>
  <script src="app/components/ui-widgets/progress-bar/directive.js"></script>
  <!-- progress-bar-->

  <!-- quotes -->
  <script src="app/components/ui-widgets/quotes/main.js"></script>
  <script src="app/components/ui-widgets/quotes/directive.js"></script>
  <!-- quotes -->

</head>
<body ng-app="personal-site">
  <div id="wrapper" ng-controller="mainController">
    <nav id="main-menu" class="pure-menu pure-menu-horizontal" ng-controller="topBarController">
      <!--
      <div class="right">
        <a href="#" ng-click="doShowFrm()" ng-if="!loggedIn || showFrm"><i class="fa fa-sign-in"></i> Log In</a>
        <a href="#" ng-click="logOut()" ng-if="loggedIn"><i class="fa fa-sign-out"></i> Log Out</a>
        <form id="loginFrm" class="pure-form" ng-if="showFrm" ng-submit="logIn()">
          <fieldset>
            <input type="email" placeholder="Email" ng-model="loginFrm.email">
            <input type="password" placeholder="Password" ng-model="loginFrm.password">
            <button type="submit" class="pure-button pure-button-primary">Sign in</button>
          </fieldset>
        </form>
      </div>
    -->
       <span class="pure-menu-heading">Jorge Rivera</span>
      <ul class="pure-menu-list" active-link>
        <li class="pure-menu-item"><a href="#/home" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a href="#/resume" class="pure-menu-link">Resume</a></li>
    <!--
        <li class="pure-menu-item"><a href="#/blog" class="pure-menu-link">Blog</a></li>
        <li class="pure-menu-item"><a href="#/proyects" class="pure-menu-link">Proyects</a></li>
        <li class="pure-menu-item"><a href="#/other" class="pure-menu-link">Other</a></li>
      -->
      </ul>
    </nav>
    <ng-view></ng-view>
    <footer class="pure-u-1">
      &copy; Jorge Rivera 2016
    </footer>
  </div>
</body>
</html>
