<section class="yellow">
  <div class="content">
    <div class="pure-g">
      <article class="pure-u-1">
        <h1>Personal Statment</h1>
        <p>
          As a Front-end engineer and JavaScript expert with over 7 years experience coding solutions for small to large companies, I love to craft functional and beautiful web applications and websites.
        </p>
        <p>
          During my career as a developper I have contributed to many web projects, I have also developed some libraries as rainbow.js and plotter.js which I share as open source projects on GitHub.
        </p>
        <p>
          Looking to become a reference in front-end development in general but particulary JavaScript expert, work in a company where I can contribute and develop products that solve needs for people, also I want to make an impact in the world bla bla bla.
        </p>
      </article>
      <article class="pure-u-1-2">

        <h2>Productivity</h2>
        <p>
          I'm a firm believer in automation, as a developper, I love to make machines perform repetitive time-consuming and tedious task for me. An automated development environment is a good development environment.
          Whitout automation, the act of programming is tedious and error prone. Once you automate all your tedious tasks, you are a happy and productive developper. There is no reason for a human been to run code linting process,
          tests, building tasks and code deployment manually. Automation equials better quality products developed in less time.
        </p>
        <p>
          I'm a natural born optimizzer, I seek for process improvements everywhere in my life, from moving coffee machine near developers to avoid unnecesary time spent walking to the kitchen and back (multiplied for number of developpers in the company times days in a year, its a huge time savings)
          to bettery quality tools that let me and my team deliver faster and better. Code completition, text espanding tools, macros and alike tools are part of my personal toolset for productivity.
        </p>
      </article>
      <article class="pure-u-1-2">
        <h2>Team Work</h2>
        <p>
          Have you ever hear of high performance teams? I have and ever since I've been researching about it and I'm convinced that a well glued group of people motivated enough is capable to acheive incredible things.
        </p>
        <p>
          I like agine methodologies and I'm well versed in the subject. Agile mak
        </p>
        <h2>What set me apart</h2>
        <p>
          I'm a sasoned developer, what set me apart is my understanding of design, while i'm not a designer, I undestand the principles of desing, its jargon and quirks which make me get along very well with designers. As most developpers I mostly
          focus on usability and functionality but I also love beautiful crafted websites with a gorgeous design.
        </p>
      </article>
    </div>

  </div>
</section>
<section>
</section>
<section>
  <article class="content">
    <h1>My Skill Set</h1>
    <div class="pure-g cards">
      <div class="pure-u-1-3">
        <div class="card">
          <h3>Programming Languages</h3>
          <progress-bar ng-repeat="language in programmingLanguages" label="language.name" progress="language.proficency" description="language.level"></progress-bar>
        </div>

      </div>
      <div class="pure-u-1-3">
        <div class="card">
          <h3>Libraries &amp; Frameworks</h3>
          <ul>
            <li ng-repeat="lib in librariesAndFrameworks">{{lib.name}}</li>
          </ul>
        </div>

      </div>
      <div class="pure-u-1-3">
        <div class="card">
          <h3>Other Tools</h3>
          <ul>
            <li ng-repeat="tool in tools">{{tool.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </article>
<section class="blue">
  <article class="content">
    <h1>Employment</h1>
    <div class="pure-g">
      <div class="pure-u-1" ng-repeat="job in employmentHistory">
        <div class="pure-g">
          <div class="pure-u-1-4">
            <h3>{{job.company}}</h3>
            <h5>{{job.from}} - {{job.to}}</h5>
          </div>
          <div class="pure-u-3-4">
            <h4>{{job.jobTitle}}</h4>
            <p>
              {{job.abstract}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
  <article class="content">
    <h1>Education</h1>
    <h3>Universidad De Colima</h3>
    <p>Electronic And Communication Engineering</p>
  </article>
</section>
