<section class="yellow">
  <div class="content">
    <div class="pure-g">
      <div class="pure-u-1-2">
        <img src="media/profile2.jpg" alt="Profile photo" class="img-responsive">
      </div>
      <div class="pure-u-1-2">
        <p>
          Self­motivated   solution­oriented   IT   professional   with   6+   years   of   experience   in   web
          development.   An   energetic   and   imaginative   application   developer   who   is   able   to   work
          alongside   other   talented   IT   professionals   in   creating   web   applications   to   the   very   highest
          standard.   Jorge   has   a   high   awareness   of   industry   issues   and   trends,   particularly   in   regard   to
          accessibility, usability, and emerging technologies.
        </p>
        <h2 class="vertical-text">Personal Statment</h2>
      </div>
    </div>

  </div>
</section>
<section>
  <article class="content">
    <h1>About me</h1>
    <h2>Development is my passion</h2>
    <p>
      I'm a sasoned developer, what set me apart is my understanding of design, while i'm not a designer, I undestand the principles of desing, its jargon and quirks which make me get along very well with designers. As most developpers I mostly
      focus on usability and functionality but I also love beautiful crafted websites with a gorgeous design.
    </p>
    <h2>Productivity is key</h2>
    <h3>Deliver, deliver, deliver... but don't forget quality</h3>
    <p>
      I'm a firm believer in automation, as a developper, I love to make machines perform repetitive time-consuming and tedious task for me. An automated development environment is a good development environment.
      Whitout automation, the act of programming is tedious and error prone. Once you automate all your tedious tasks, you are a happy and productive developper. There is no reason for a human been to run code linting process,
      tests, building tasks and code deployment manually. Automation equials better quality products developed in less time.
    </p>
    <h2>The faster the better</h2>
    <p>
      I'm a natural born optimizzer, I seek for process improvements everywhere in my life, from moving coffee machine near developers to avoid unnecesary time spent walking to the kitchen and back (multiplied for number of developpers in the company times days in a year, its a huge time savings)
      to bettery quality tools that let me and my team deliver faster and better. Code completition, text espanding tools, macros and alike tools are part of my personal toolset for productivity.
    </p>
    <p>
      I like agine methodologies and I'm well versed in the subject. Agile mak
    </p>
    <h2>Team Work</h2>
    <p>
      Have you ever hear of high performance teams? I have and ever since I've been researching about it and I'm convinced that a well glued group of people motivated enough is capable to acheive incredible things.
    </p>
  </article>
</section>
<section>
  <article class="content">
    <h1>My Skill Set</h1>
    <div class="pure-g cards">
      <div class="pure-u-1-3">
        <div class="card">
          <h3>Programming Languages</h3>
          <div class="pure-g">
            <div class="pure-u-2-5">JavaScript</div>
            <div class="pure-u-3-5">
              <div class="progress-bar">
                <div class="label">68/100 (intermediate)</div>
                <div class="bar">
                  <div class="progress" style="width:68%"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pure-g">
            <div class="pure-u-2-5">HTML5</div>
            <div class="pure-u-3-5">
              <div class="progress-bar">
                <div class="label">98/100 (expert)</div>
                <div class="bar">
                  <div class="progress" style="width:98%"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pure-g">
            <div class="pure-u-2-5">CSS3</div>
            <div class="pure-u-3-5">
              <div class="progress-bar">
                <div class="label">86/100 (advanced)</div>
                <div class="bar">
                  <div class="progress" style="width:86%"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pure-g">
            <div class="pure-u-2-5">Python</div>
            <div class="pure-u-3-5">
              <div class="progress-bar">
                <div class="label">33/100 (beginner)</div>
                <div class="bar">
                  <div class="progress" style="width:33%"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="pure-u-1-3">
        <div class="card">
          <h3>Libraries &amp; Frameworks</h3>
          <ul>
            <li>jQuery</li>
            <li>Express.js</li>
            <li>Angular.js</li>
            <li>Backbone.js</li>
            <li>Bootstrap</li>
            <li>Purecss</li>
            <li>Sass</li>
            <li>Require.js</li>
          </ul>
        </div>

      </div>
      <div class="pure-u-1-3">
        <div class="card">
          <h3>Other Tools</h3>
          <ul>
            <li>GIT</li>
            <li>SVN</li>
            <li>REST</li>
            <li>GIT</li>
            <li>Gulp</li>
          </ul>
        </div>
      </div>
    </div>
  </article>
  
  <article class="content">
    <h1>Employment</h1>
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="pure-g">
          <div class="pure-u-1-4">
            <h3>Freelancer</h3>
            <h5>August 2008- October 2010</h5>
          </div>
          <div class="pure-u-3-4">
            <h4>FullStack Web Developper</h4>
            <p>
              After   obtaining   my   engineering   degree   I   worked   mostly   self­employed   building   websites   for
              local   business   where   I   was   a   full   stack   developer   in   charge   of   both   backend   and   frontend   and
              in   some   cases   content   management.   During   this   time   I   also   co­authored   a   blog   about
              technology   news   and   gadgets   and   later   I   built   a   website   about   tourism   and   social   life   in
              Manzanillo,   Colima,   Mexico.   Through   this   activities   I   had   the   opportunity   to   gain   experience   in
              technologies   such   as   PHP,   MySQL,   HTML,   JavaScript,   jQuery,   CSS2   and   CMS   as   well   as
              understand clients requirements and elaborate time and cost estimations of projects.
            </p>
          </div>
        </div>
      </div>
      <div class="pure-u-1">
        <div class="pure-g">
          <div class="pure-u-1-4">
            <h3>Palmera Systems</h3>
            <h5>October 2010- April 2011</h5>
          </div>
          <div class="pure-u-3-4">
            <h4>FullStack Web Developper</h4>
            <p>
              Web   developer   for   Palmera   System   a   start­up   company   that   offered   web   based   solutions   for
              local   and   international   customers.   My   main   activities   consisted   in   translate   client’s
              requirements   to   fully   functional   websites   and   CMS   templates,   set   up   web   servers,   convert
              mockups   to   html+css   webpages   and   write   php   scripts   to   connect   to   databases   as   well   as   it’s
              front end counterparts to render the data via AJAX. Softtek Servicios Corporativos S.A. de C.V.
            </p>
          </div>
        </div>
      </div>
      <div class="pure-u-1">
        <div class="pure-g">
          <div class="pure-u-1-4">
            <h3>Softtek Servicios Corporativos S.A. de C.V.</h3>
            <h5>April 2011-September 2012</h5>
          </div>
          <div class="pure-u-3-4">
            <h4>Front-end Engineer</h4>
            <p>
              Consultant   for   GE   corporate,   I   was   part   of   the   development   team   in   charge   of   ‘site   builder’
              and   ‘page   editor’   web   apps.   This   position   required   heavy   use   of   JavaScript   and   jQuery   as   well
              as   HTML   and   CSS.   Later   I   was   chosen   as   part   of   the   team   to   develop   the   new   GE   corporate
              website ‘colab’ an internal social network for GE’s employees.
            </p>
          </div>
        </div>
      </div>
      <div class="pure-u-1">
        <div class="pure-g">
          <div class="pure-u-1-4">
            <h3>Softtek Integration Systems Inc</h3>
            <h5>September 2012 - August 2013</h5>
          </div>
          <div class="pure-u-3-4">
            <h4>Senior Front-end Engineer</h4>
            <p>
              Consultant   for   GE   corporate   onsite   (US),   in   this   position   I   was   responsible   to   attend   meetings
              with   the   clients,   participate   in   the   decision   taking   process   and   pass   down   the   information   to
              the team in Mexico as well as coding the application.
            </p>
          </div>
        </div>
      </div>
      <div class="pure-u-1">
        <div class="pure-g">
          <div class="pure-u-1-4">
            <h3>Entrepreneur</h3>
            <h5>August 2013-current</h5>
          </div>
          <div class="pure-u-3-4">
            <h4>Manager</h4>
            <p>
              After   resigning   of   my   position   in   Softtek   I   came   back   to   Mexico   to   start   my   own   business   non
              IT   related,   but   still   actively   developing   apps   like   a   twitter   bot   https://twitter.com/knowit1st,
              A3.js   http://jorgeriv.github.io/A3/,   an   angular.js   app   for   sports   forecasting,   statistics   and   data
              analysis among other projects.
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>

  <div class="content">
    <h1>Education</h1>
    <h3>Universidad De Colima</h3>
    <p>Electronic And Communication Engineering</p>
  </div>
</section>
